@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");
body {
  background-image: url("../images/background2.jpg");
  width: 100%;
  height: 100%;
  color: white;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 20px;
  border: 10px solid black;
}
.navbar-brand {
  font-size: 45px;
  font-family: "Pacifico", cursive;
}
.nav {
  font-size: 20px;
  padding: 20px;
  font-family: "Pacifico", cursive;
}
nav li a:hover {
  background-color: grey;
  padding: 5px;
}
nav ul li {
  font-family: "Playfair Display", serif;
}
nav ul li a {
  padding: 20px;
}
h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 90px;
}
.mdb-lightbox {
  height: 120%;
  width: 120%;
}
#home {
  overflow-y: scroll;
  overflow-x: hidden;
}
.intro-text {
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: white;
}
footer {
  color: white;
}
.footer-img {
  align-items: center;
}
.footer-text {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  color: white;
}
.footer-table {
  align-items: center;
  align-content: center;
  margin-left: 42%;
  border: none;
}

/* contact */

#contact {
  color: white;
}
.contact {
  padding: 25px;
  margin-left: 20%;
}
footer {
  height: auto;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
  font-size: 30px;
}
#img {
  padding: 40px;
}
.contacts {
  align-items: center;
  width: 400px;
  text-align: center;
  align-content: center;
  flex-direction: column;
  margin-left: 40%;
  color: white;
}
.myForm-input {
  font-size: 12px;
  padding: 5px 10px 10px 5px;
  display: block;
  width: 100%;
  background: transparent;
  color: white;
  border: 2px solid black;
}
form.contact-us {
  background: transparent;
  padding-top: 20px;
}

form.contact-us input,
form.contact-us textarea,
div.contact-btn button {
  margin-bottom: 10px;
  padding: 7px 5px;
  border: 1px solid white;
  color: white;
}

#email {
  width: 30%;
  margin-left: 20px;
}
#name {
  width: 30%;
}
.name-input {
  margin-right: 30%;
}
#comment {
  margin-left: 30%;
  color: black;
}
.form-group {
  margin-left: 32%;
}
textarea {
  width: 52%;
  height: 57%;
}
div.contact-btn button {
  padding: 7px 10px;
  width: 150px;
  font-weight: bold;
  transition: border 0.2s;
  font-size: 15px;
}

div.contact-btn button:hover {
  border: 2px solid white;
}
#button {
  color: black;
  margin-left: 30%;
}
.contacts input[type="text"],
[type="submit"] {
  background-color: white;
  text-align: center;
}
.form input[type="number"],
[type="submit"] {
  background-color: white;
  text-align: center;
}
#my-message {
  width: 50%;
  height: 50%;
}

/* order */

#order {
  color: white;
}
.type {
  align-items: center;
  align-content: center;
  width: 50%;
}
.size {
  align-items: center;
  align-content: center;
}
.crust {
  align-items: center;
  align-content: center;
}
.toppings {
  align-items: center;
  align-content: center;
}
#close-msg {
  text-align: center;
  font-family: "Playfair Display", serif;
}
